<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- Materialize
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    title Chuck Jokes
  body.grey.darken-4.brown-text.text-lighten-2
    header.header
      h1.title.grey-text Chuck Jokes
      .joke.grey-text
      button.btn.grey New Joke

