h1 {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.joke {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 200px;
  margin-top: 15px;
}
